In [1]:
# IMPORT DEPENDENCIES
import pandas as pd

In [5]:
# READ IN POSTGRES VINE_TABLE CSV AS DATAFRAME df
df = pd.read_csv("vine_table.csv")

In [8]:
#df

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R1UUISQ1GKOJTI,1.0,0.0,0.0,N,Y
1,R1HOJ9WE8VCVOD,5.0,9.0,9.0,N,Y
2,RDNGVXMWQN2TN,5.0,0.0,0.0,N,Y
3,R3OM9COQMVTDJ2,2.0,0.0,0.0,N,Y
4,R3OFUQVR4Y80Q9,4.0,0.0,0.0,N,N
...,...,...,...,...,...,...
6221554,R1GVZER336G4OX,2.0,4.0,7.0,N,N
6221555,R18Y9G20RGJ1C9,5.0,11.0,12.0,N,N
6221556,R3R0Q2BNYNFW6T,5.0,28.0,29.0,N,N
6221557,R4LHJNM2170W0,5.0,2.0,3.0,N,N
6221558,R2XY6ARCFVDPNR,5.0,30.0,33.0,N,N

In [6]:
# CREATE NEW DF WHERE total_votes are >= 20
df_total_votes_20 = df.loc[df["total_votes"] >= 20]

In [7]:
#df_total_votes_20

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
485,R27XX9MG7OWSSM,5.0,49.0,51.0,N,Y
569,R1I4IFDOW6IW9O,3.0,44.0,47.0,N,Y
735,R2LZAV3VMLGPGS,3.0,32.0,33.0,N,Y
860,R3FITR2BQI94RA,5.0,33.0,38.0,N,Y
1172,RWYBT1R3KPD2M,4.0,142.0,163.0,N,Y
...,...,...,...,...,...,...
6221548,R64NF3LSM7EAS,4.0,51.0,54.0,N,N
6221549,R35KSIYUDVCNOP,2.0,31.0,34.0,N,N
6221550,R1YURS8641JH3W,4.0,200.0,225.0,N,N
6221556,R3R0Q2BNYNFW6T,5.0,28.0,29.0,N,N
6221558,R2XY6ARCFVDPNR,5.0,30.0,33.0,N,N

In [23]:
# CREATE A NEW DF WHERE helpful_votes DIVIDED BY total_votes IS EQUAL >= 50%
df_helpful_by_total = df_total_votes_20.loc[df_total_votes_20['helpful_votes'] / df_total_votes_20['total_votes'] * 100 >= .5]

In [24]:
#df_helpful_by_total

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
485,R27XX9MG7OWSSM,5.0,49.0,51.0,N,Y
569,R1I4IFDOW6IW9O,3.0,44.0,47.0,N,Y
735,R2LZAV3VMLGPGS,3.0,32.0,33.0,N,Y
860,R3FITR2BQI94RA,5.0,33.0,38.0,N,Y
1172,RWYBT1R3KPD2M,4.0,142.0,163.0,N,Y
...,...,...,...,...,...,...
6221548,R64NF3LSM7EAS,4.0,51.0,54.0,N,N
6221549,R35KSIYUDVCNOP,2.0,31.0,34.0,N,N
6221550,R1YURS8641JH3W,4.0,200.0,225.0,N,N
6221556,R3R0Q2BNYNFW6T,5.0,28.0,29.0,N,N
6221558,R2XY6ARCFVDPNR,5.0,30.0,33.0,N,N

In [25]:
# CREATE A DF FOR VINE PROGRAM MEMBERS AND NON VINE MEMBERS MEMBERS, RESPECTIVELY
df_yes_vine = df_helpful_by_total.loc[df_helpful_by_total["vine"] == 'Y']
df_no_vine = df_helpful_by_total.loc[df_helpful_by_total["vine"] == 'N']

In [26]:
#df_yes_vine

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
4518,R2W1OMYJERBXJ1,5.0,20.0,23.0,Y,N
31209,R31VJCBBKU13Y,5.0,24.0,27.0,Y,N
39564,R350JNDV0INC11,4.0,388.0,398.0,Y,Y
45246,R2NJA2I5C9Y0FR,3.0,63.0,73.0,Y,N
73839,R296RSG25RD1IX,3.0,46.0,51.0,Y,N
...,...,...,...,...,...,...
6099084,R7BDUPVERD62E,1.0,21.0,22.0,Y,N
6099271,R17GTQN5XA1733,5.0,67.0,70.0,Y,N
6099872,RDFV6BRK2FZ2J,2.0,54.0,54.0,Y,N
6104794,R117VHPG0RT6VE,5.0,37.0,40.0,Y,N
6116429,R3H4BX8CYCGSFO,3.0,47.0,52.0,Y,N

In [27]:
#df_no_vine

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
485,R27XX9MG7OWSSM,5.0,49.0,51.0,N,Y
569,R1I4IFDOW6IW9O,3.0,44.0,47.0,N,Y
735,R2LZAV3VMLGPGS,3.0,32.0,33.0,N,Y
860,R3FITR2BQI94RA,5.0,33.0,38.0,N,Y
1172,RWYBT1R3KPD2M,4.0,142.0,163.0,N,Y
...,...,...,...,...,...,...
6221548,R64NF3LSM7EAS,4.0,51.0,54.0,N,N
6221549,R35KSIYUDVCNOP,2.0,31.0,34.0,N,N
6221550,R1YURS8641JH3W,4.0,200.0,225.0,N,N
6221556,R3R0Q2BNYNFW6T,5.0,28.0,29.0,N,N
6221558,R2XY6ARCFVDPNR,5.0,30.0,33.0,N,N

In [62]:
# Determine the total number of reviews, the number of 5-star reviews, 
#and the percentage of 5-star reviews for the two types of review (paid vs unpaid).
paid_vine_total_reviews = df_yes_vine['star_rating'].count()
paid_vine_5star_reviews = df_yes_vine[df_yes_vine['star_rating'] == 5.0]['star_rating'].count()
paid_vine_5star_percentage = (paid_vine_5star_reviews / paid_vine_total_reviews * 100)

In [61]:
unpaid_vine_total_reviews = df_no_vine['star_rating'].count()
unpaid_vine_5star_reviews = df_no_vine[df_no_vine['star_rating'] == 5.0]['star_rating'].count()
unpaid_vine_5star_percentage = (unpaid_vine_5star_reviews / unpaid_vine_total_reviews * 100)

In [57]:
paid_vine_total_reviews

1457

In [58]:
unpaid_vine_total_reviews

94563

In [59]:
paid_vine_5star_reviews

647

In [60]:
unpaid_vine_5star_reviews

44461

In [63]:
paid_vine_5star_percentage

44.40631434454359

In [64]:
unpaid_vine_5star_percentage

47.01733236043696